{% trans_default_domain 'FOSUserBundle' %}
<div class="offset-lg-4 col-lg-4 offset-lg-4 ">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}"  class="style-button"/>
    </div>
{{ form_end(form) }}
</div>