{% extends '@App/layout.html.twig' %}

{% block title %}liste des médicaments{% endblock %}

{% block body %}
    <a href="{{ path('add_Order_supplier') }}" class="style-button-order">Ajouter une commande </a>
{% endblock %}


