{% extends '@App/layout.html.twig' %}

{% block title %}Ajouter une ordonnance{% endblock %}
{% block titlebody %}
    <h2>Créer une commande</h2>
{% endblock %}
{% block body %}
    <a href="{{ path('add_Order') }}" class="style-button-order">Ajouter une Ordonnance</a>
{% endblock %}


