{% extends '@App/layout.html.twig' %}

{% block title %}Fiche Médical{% endblock %}
{% block titlebody %}
    <h2>Créer une commande</h2>
{% endblock %}
{% block body %}
    <a href="{{ path('add_Order') }}">Order Meds</a>
{% endblock %}


