{% extends '@App/layout.html.twig' %}

{% block title %}Ajouter une ordonnance{% endblock %}
{% block titlebody %}
    <h2>Créer une commande</h2>
{% endblock %}
{% block body %}
    <a href="{{ path('add_Order') }}" class="style-button-order">Ajouter une Ordonnance</a>
    <br>
<hr>
    <h1>Les pharmacies a tunis sur la carte</h1>


    <p>
        <h5>Veillez autoriser votre localisation!</h5>

        <h5>
            clic sur un marker pour voir plus de details!
        </h5>
    </p>



    <div id="map" style="border: 1px solid black; height: 500px"></div>
    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 14, lng: 1.5},
                zoom: 12
            });
            infoWindow = new google.maps.InfoWindow;





            //pharmacy marker

            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('1','Pharmacie Azzouz','tunis, tunisia','36.836050','10.160160');


            var infowindow = new google.maps.InfoWindow({
                content: 'Pharmacie Azzouz, ' + 'lafayette, tunis'
            });

            var marker = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.836050, lng: 10.160160},
                map: map,
                title: 'azzouz!'
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });


            //pharmacy marker1
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('2','Pharmacie les berges','Les Berges du Lac.','36.836470','10.238140');

            var infowindow1 = new google.maps.InfoWindow({
                content: 'Pharmacie les berges, ' + 'Les Berges du Lac'
            });

            var marker1 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.836470, lng: 10.238140},
                map: map,
                title: 'berges!'
            });
            marker1.addListener('click', function() {
                infowindow1.open(map, marker1);
            });


            //pharmacy marker2
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('3','Conseil National de l'Ordre Des Pharmaciens De Tunisie','56 Rue Ibn Charaf','36.805540','10.121180');

            var infowindow2 = new google.maps.InfoWindow({
                content: 'Conseil National de l\'Ordre Des Pharmaciens, ' + '56 Rue Ibn Charaf'
            });

            var marker2 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.805540, lng: 10.121180},
                map: map,
                title: 'Ibn Charaf!'
            });
            marker2.addListener('click', function() {
                infowindow2.open(map, marker2);
            });


            //pharmacy marker3
            //
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('4','BSILA Ali','Avenue Louis Braille','36.832750','10.196940');

            var infowindow3 = new google.maps.InfoWindow({
                content: 'BSILA Ali, ' + 'Avenue Louis Braille'
            });

            var marker3 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.832750, lng: 10.196940},
                map: map,
                title: 'BSILA!'
            });
            marker3.addListener('click', function() {
                infowindow3.open(map, marker3);
            });



            //pharmacy marker4
            //INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('5','PHARMACIE ALOUINI AKIL/PHARMACITY,'46 Rue Hedi Nouira, TUNIS BAB BHAR 1000','36.804360','10.184550');

            var infowindow4 = new google.maps.InfoWindow({
                content: 'ALOUINI AKIL/PHARMACITY, ' + '46 Rue Hedi Nouira, TUNIS BAB BHAR'
            });

            var marker4 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.804360, lng: 10.184550},
                map: map,
                title: 'Alouini!'
            });
            marker4.addListener('click', function() {
                infowindow4.open(map, marker4);
            });



            //pharmacy marker5
            //INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('7','Pharmacie aaida TUNIS','8 bis rue Mongi Slim','36.8','10.1');

            var infowindow5 = new google.maps.InfoWindow({
                content: 'Pharmacie aaida TUNIS, ' + '8 bis rue Mongi Slim'
            });

            var marker5 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.8, lng: 10.1},
                map: map,
                title: 'aaida!'
            });
            marker5.addListener('click', function() {
                infowindow5.open(map, marker5);
            });




            //pharmacy marker6
            //INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('8','Pharmacie ABID','6 Avenue de La Liberté','36.700720','10.170760');

            var infowindow6 = new google.maps.InfoWindow({
                content: 'Pharmacie ABID, ' + '6 Avenue de La Liberté'
            });

            var marker6 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.700720, lng: 10.170760},
                map: map,
                title: 'abid!'
            });
            marker6.addListener('click', function() {
                infowindow6.open(map, marker6);
            });



            //pharmacy marker7
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('10','Pharmacie FARAH Slim','Bardo tunis','36.817810','10.126920');

            var infowindow7 = new google.maps.InfoWindow({
                content: 'Pharmacie FARAH Slim, ' + 'Bardo tunis'
            });

            var marker7 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.817810, lng: 10.126920},
                map: map,
                title: 'farah!'
            });
            marker7.addListener('click', function() {
                infowindow7.open(map, marker7);
            });



            //pharmacy marker8
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('9','Pharmacie du Lac','les berges du lac','36.838160','10.308200');


            var infowindow8 = new google.maps.InfoWindow({
                content: 'Pharmacie du kram, ' + 'le kram'
            });

            var marker8 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.838160, lng: 10.308200},
                map: map,
                title: 'lac!'
            });
            marker8.addListener('click', function() {
                infowindow8.open(map, marker8);
            });


            //pharmacy marker9
            // INSERT INTO `markers` (`id`, `name`, `address`, `lat`, `lng`) VALUES
            // ('6','Pharmacie Ouahchi Mohamed','tunis, tunisia','36.856150','10.307910');

            var infowindow9 = new google.maps.InfoWindow({
                content: 'Pharmacie Ouahchi Mohamed, ' + 'Rue pygmalion, Carthage'
            });

            var marker9 = new google.maps.Marker({
                draggable: true,
                animation: google.maps.Animation.BOUNCE,
                position: {lat: 36.856150, lng: 10.307910},
                map: map,
                title: 'ouahchi!'
            });
            marker9.addListener('click', function() {
                infowindow9.open(map, marker9);
            });

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var home = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: 'home!',
                        label: {
                            color: 'white',
                            fontWeight: 'bold',
                            text: 'MOI ICI'
                        },
                    });

                    infoWindow.setPosition(home);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6qDU-Llw8jVt3jIwgLGGM30t2Da1EWX8&callback=initMap">
    </script>

{% endblock %}


